@import "tailwindcss";

:root {
  --color-primary: 34 197 94;
  --color-secondary: 245 158 11;
  --color-bg-light: 255 255 255;
  --color-bg-dark: 17 24 39;
  --color-text-light: 17 24 39;
  --color-text-dark: 243 244 246;
  --transition-base: 300ms;
}

* {
  transition-property: background-color, border-color, color;
  transition-duration: var(--transition-base);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .theme-transition {
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
